.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.container h1{
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.form-control {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #0d5ab3;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.result {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.result p {
  font-size: 20px;
  font-weight: bold;
}

/* For Responsive styles */
@media (max-width: 600px) {
  .container {
    width: 90%;
  }

  .form-group,
  .btn {
    width: 100%;
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
